@import "tailwindcss";

:root {
  font-family: Roboto, sans-serif;
  color: var(--white);
  line-height: 1.5;

  background: var(--black);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.transition {
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  box-shadow: var(--shadow-primary-sm);

  transition: all 0.3s ease;
}

.link:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-primary-md);
}

p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a,
textarea {
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  background-color: var(--primary);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
  outline: none;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
