.container {
  position: relative;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-size: 6rem;
  font-weight: 900;
  min-width: 800px;

  z-index: 0;

  color: rgb(34, 34, 34);
}
