.container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: 100%;
  color: var(--black);

  background-color: var(--white);
}
