.boton-elegante {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 15px 25px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  border-radius: 30px;
  position: relative;
  overflow: hidden;

  transition: all 0.4s ease;
}

.page {
  padding: 8px 15px;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #1a1a1a;
  border-color: #2c2c2c;
}

.disabled::after {
  content: none;
}

.disabled:hover {
  border-color: #2c2c2c;
  background-color: #1a1a1a;
}

.active {
  background-color: #333333;
  border-color: #444444;
}

.active:hover {
  background-color: #333333;
  border-color: #444444;
}

.active::after {
  transform: scale(1.5);
  opacity: 0.5;
}

@media (max-width: 767px) {
  .boton-elegante {
    padding: 15px 20px;
  }
}
